@media screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/bg-main.jpg');

  // background-color: #222;
  color: #eee;

  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 50px 0;
}

p {
  font-size: 20px;
}

ul {
  font-size: 20px;

  li {
    margin-bottom: 10px;
    .secondary-content {
      @media screen and (max-width: 500px) {
        float: none;
        display: block;
        margin-top: 10px;
        line-height: 1.3;
      }
    }
  }
}

.collection {
  color: #222;
}

.inline-block {
  display: inline-block;
  width: 100%;
}

.card {
  color: #222;
}

.artist-page {
  padding: 30px 50px;
  @media screen and (max-width: 500px) {
    padding: 15px;
    text-align: center;
  }

  h2 {
    font-size: 2.3rem;
  }
}

.text-center {
  text-align: center;
}

.artist-logo {
  width: 100%;
}

.back-home {
  font-size: 1.2rem;
}

.p404 {
  padding: 50px 70px;
  text-align: center;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.ml-2 {
  margin-left: 20px;
}

.filters {
  background-color: #fff;
  color: #222;
  padding: 10px 25px;
}

.my-1 {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filters {
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.filters-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
