{{/*{{ define "content" }}*/}}

{{/*<div class="container white black-text artist-page">*/}}
{{/*  <a href="/" class="back-home green-text">&#10229; Back to home</a>*/}}

{{/*  <h1>Search for "{{ .Keyword }}"</h1>*/}}

{{/*  <div class="row">*/}}
{{/*    <form action="/search" method="POST">*/}}
{{/*      <div class="input-field col s12">*/}}
{{/*        <input*/}}
{{/*          type="text"*/}}
{{/*          class="validate"*/}}
{{/*          list="datalist"*/}}
{{/*          name="input"*/}}
{{/*          autocomplete="off"*/}}
{{/*          required*/}}
{{/*        />*/}}
{{/*        <label for="last_name">Search for anything</label>*/}}
{{/*      </div>*/}}
{{/*    </form>*/}}
{{/*  </div>*/}}

{{/*  <ul class="collection">*/}}
{{/*    {{ range .Names}}*/}}
{{/*    <li class="collection-item">*/}}
{{/*      {{ .Name }}*/}}
{{/*      <a href="/{{ .Slug }}" class="secondary-content">Artist (Band)</a>*/}}
{{/*    </li>*/}}
{{/*    {{ end }} {{ range $member, $artist := .Members}}*/}}
{{/*    <li class="collection-item">*/}}
{{/*      {{ $member }}*/}}
{{/*      <a href="/{{ .Slug }}" class="secondary-content"*/}}
{{/*        >Member of {{ $artist.Name }}</a*/}}
{{/*      >*/}}
{{/*    </li>*/}}
{{/*    {{ end }} {{ range $fa, $artist := .FirstAlbums}}*/}}
{{/*    <li class="collection-item">*/}}
{{/*      {{ $fa }}*/}}
{{/*      <a href="/{{ .Slug }}" class="secondary-content"*/}}
{{/*        >First album of {{ $artist.Name }}</a*/}}
{{/*      >*/}}
{{/*    </li>*/}}
{{/*    {{ end }} {{ range $cd, $artist := .CreationDates}}*/}}
{{/*    <li class="collection-item">*/}}
{{/*      {{ $cd }}*/}}
{{/*      <a href="/{{ .Slug }}" class="secondary-content"*/}}
{{/*        >Creation date of {{ $artist.Name }}</a*/}}
{{/*      >*/}}
{{/*    </li>*/}}
{{/*    {{ end }}*/}}
{{/*  </ul>*/}}

{{/*  <!-- <h2>Concert locations</h2> -->*/}}

{{/*  <ul class="collection with-header">*/}}
{{/*    {{ range .Locations}}*/}}
{{/*    <li class="collection-header"><h3>Concerts at {{ .Location }}</h3></li>*/}}
{{/*    {{ range $date, $artist := .DateArtists }}*/}}
{{/*    <li class="collection-item">*/}}
{{/*      {{ $date }}*/}}

{{/*      <a href="/{{ $artist.Slug }}" class="secondary-content"*/}}
{{/*        >{{ $artist.Name }}</a*/}}
{{/*      >*/}}
{{/*    </li>*/}}
{{/*    {{ end }} {{ end }}*/}}
{{/*  </ul>*/}}
{{/*</div>*/}}

{{/*{{ end }}*/}}
